# Pandas Assignments

In [1]:
# Libraries
import numpy as np
import pandas as pd

### 1) Create a Datatime index containing all the weekdays days of year 2019 and assign a random number to each of them in a dataframe.

### 2) Given Pandas series , height = \[23,42,55\] and weight = \[71,32,48\] . Create a dataframe with height and weight as column names.

### 3) How to get the items of series A not present in series B .From ser1 remove items present in ser2.

ser1 = pd.Series(\[2, 3, 4, 5\])<br>
ser2 = pd.Series(\[5, 6, 7, 8\])

## Questions on Titanic Dataset

### 4) Compute the minimum, 25th percentile, median, 75th, and maximum of age in titanic dataset

### 5) How to get frequency counts of unique items of a series? Calculate the frequency counts of ‘SibSp’ column in titanic Dataset

### 6) Keep only top 2 most frequent values as it is and replace everything else as ‘Other’ in ‘Embarked’ column of titanic dataset

### 7) Bin the price column in titanic data set into 5 equal groups and get counts of each bin

### 8) Count the number of missing values in each column?

### 9) Get the row number of the 5th largest value in the Age column of titanic dataset?

### 10) Normalize all columns in a dataframe?

### 11) Get the indices of items of ser2 in ser1 as a list.

ser1 = pd.Series(\[10, 9, 6, 5, 3, 1, 12, 8, 13\])<br>
ser2 = pd.Series(\[1, 3, 10, 13\])

### 12) How to convert a series of date-strings to a timeseries?

\["01 Jan 2010", "02-02-2011", "20120303", "2013/04/04", "2014-05-05", "2015-06-06T12:20"\]

### 13) Get the day of month, week number, day of year and day of week from ser.

ser = pd.Series(\["01 Jan 2010", "02-02-2011", "20120303", "2013/04/04", "2014-05-05", "2015-06-06T12:20"\])

### 14) Compute the euclidean distance between series (points) p and q, without using a packaged formula.

p = pd.Series(\[1, 2, 3, 4, 5, 6, 7, 8, 9, 10\])<br>
q = pd.Series(\[10, 9, 8, 7, 6, 5, 4, 3, 2, 1\])

Desired Output 18.165

### 15) How to create a TimeSeries starting ‘2000-01-01’ and 10 weekends (saturdays/sundays)

### 16) Import every 50th row of BostonHousing dataset as a dataframe.