# Python Assignments

In [1]:
# Libraries
import re

## Data:  
" I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"

### 1) Consider the above text as a string, figure out the average length of the string.

In [2]:
data = " I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind"
def average(data):
    return sum(len(word) for word in data.split()) / len(data.split())

print(average(data))

4.2063492063492065

### 2) Lower the text in the string.

In [3]:
print(data.lower())

i am very keen in building up my career in data science, but not sure from where to start. if i search the web it throws me thousands of articles, few are relevant others make me confused, again i come around to the same page. supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

### 3) Try to get the clean text removing the punctuation from the string.

In [4]:
print("1. Normal Approach")
print("*" * 30)
print(data.replace(",", "").replace(".", ""))

print("\n2. Regex Approach")
print("*" * 30)
print(re.sub("\W+", " ", data))

1. Normal Approach
******************************
 I am very keen in building up my career in Data Science but not sure from where to start If I search the web it throws me thousands of articles few are relevant others make me confused again I come around to the same page Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

2. Regex Approach
******************************
 I am very keen in building up my career in Data Science but not sure from where to start If I search the web it throws me thousands of articles few are relevant others make me confused again I come around to the same page Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind

### 4) Extract word "Data Science" from the string.

In [5]:
print("1. Normal Approach")
print("*" * 30)
start = data.find("Data Science")
end = start + len("Data Science")
print(data[start : end])

print("\n2. Regex Approach")
print("*" * 30)
extracted_data = re.findall(r"Data Science",data)
print(extracted_data)

1. Normal Approach
******************************
Data Science

2. Regex Approach
******************************
['Data Science']

### 5) Find the frequency of words used in the string.

In [6]:
duplicate_data = []
key_words = data.split()
for word in set(key_words):
    word_count = key_words.count(word)
    print(f"{word} : {word_count}")
    if word_count > 1:
        duplicate_data.append({word : word_count})

up : 1
but : 1
are : 1
of : 1
platform : 1
were : 1
relevant : 1
others : 1
same : 1
such : 1
Science, : 1
in : 3
where : 1
I : 3
come : 1
sure : 1
page. : 1
provided : 1
wrangling : 1
very : 1
mind : 1
start. : 1
few : 1
a : 1
my : 2
which : 1
career : 1
building : 1
it : 1
the : 2
to : 3
keen : 1
articles, : 1
all : 1
web : 1
search : 1
thousands : 1
me : 3
am : 1
not : 1
qualms : 1
Supervised : 1
good : 1
If : 1
confused, : 1
remove : 1
make : 1
throws : 1
again : 1
Data : 1
around : 1
has : 1
from : 1

### 6) Find all the words which occurred more than once in the string.

In [7]:
print(duplicate_data)

[{'in': 3}, {'I': 3}, {'my': 2}, {'the': 2}, {'to': 3}, {'me': 3}]

### 7) Can you change the word "Supervised" to "Unsupervised" in the string

In [8]:
print(data.replace('Supervised', 'Unsupervised'))

I am very keen in building up my career in Data Science, but not sure from where to start. If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page. Unsupervised has provided me a good platform to remove all such qualms which were wrangling in my mind

### 8) Splitting of the string with a dot operator(.)

In [9]:
data.split('.')

[' I am very keen in building up my career in Data Science, but not sure from where to start',
 ' If I search the web it throws me thousands of articles, few are relevant others make me confused, again I come around to the same page',
 ' Supervised has provided me a good platform to remove all such qualms which were wrangling in my mind']

### 9) Find the words from the string which ends with "e"

In [10]:
data_processed = re.sub("\W+", " ", data)
print([word for word in data_processed.split() if word.endswith('e')])

['Science', 'sure', 'where', 'the', 'me', 'are', 'make', 'me', 'come', 'the', 'same', 'page', 'me', 'remove', 'were']

### 10) Figure out number of a's used in the string.

In [11]:
print(f"The number of A's {data.count('a')}")

The number of A's 22

# Questions on Dictionary

## Data:
In the weekend , I purchased 250g of apple, 500g of sugar, 2.5 kg of rice, 2.5 litres of milk and finally 1 dozen of egg.

### 1) Can you help me frame the above purchase in the form of dictionary with commodities as keys to it.

In [12]:
weekend_purchase = {"apple": "250g",
                    "sugar": "500g",
                    "rice": "2.5kg",
                    "milk": "2.5litres",
                    "egg": "1dozen"}
print(weekend_purchase)

{'apple': '250g', 'sugar': '500g', 'rice': '2.5kg', 'milk': '2.5litres', 'egg': '1dozen'}

### 2) I forgot to mention another item, 1kg of atta packet. Can you also add it ?

In [13]:
weekend_purchase["atta"] = "1kg"
print(weekend_purchase)

{'apple': '250g', 'sugar': '500g', 'rice': '2.5kg', 'milk': '2.5litres', 'egg': '1dozen', 'atta': '1kg'}

### 3) Instead of 2kg of rice, I bought only 1kg of rice. Can you change the corresponding value ?

In [14]:
weekend_purchase["rice"] = "1kg"
print(weekend_purchase)

{'apple': '250g', 'sugar': '500g', 'rice': '1kg', 'milk': '2.5litres', 'egg': '1dozen', 'atta': '1kg'}

### 4) Can you list out all these items using a loop.

In [15]:
for key, val in weekend_purchase.items():
    print(key, val)

apple 250g
sugar 500g
rice 1kg
milk 2.5litres
egg 1dozen
atta 1kg

## Data:

However, the cost of 1 kg apple is Rs.220, 1 kg of sugar is Rs.43, 1 Kg of rice is Rs. 45, 1 litre of milk is Rs.30 and 1 dozen of egg is Rs. 60.

### 1) Create another dictionary for pricing.

In [16]:
commodity_price = {"apple": 220, "sugar": 43, "rice": 45, "milk": 30, "egg": 60}
print(f"Commodity price in Rupees /kg/litre => \n\n {commodity_price}")

Commodity price in Rupees /kg/litre =>

 {'apple': 220, 'sugar': 43, 'rice': 45, 'milk': 30, 'egg': 60}

### 2) Thereby, prepare a bill for me of the overall cost of the total commodities purchased by using two dictionaries !

In [17]:
bill = {}
conventions = ('kg', 'g', 'litres', 'dozen')
for item, quantity in weekend_purchase.items():
    for unit_item, price in commodity_price.items():
        if item == unit_item:
            if 'g' in quantity:
                if 'kg' in quantity:
                    bill.update({item: price * float(quantity.replace('kg', ''))})
                else:
                    bill.update({item: price * float(quantity.replace('g', '')) / 1000})
            elif 'dozen' in quantity:
                bill.update({item: price * float(quantity.replace('dozen', ''))})
            elif'litres' in quantity:
                bill.update({item: price * float(quantity.replace('litres', ''))})

print(f"The bill for each items is : {bill}")
print(f"The total bill : {sum(bill.values())}")

The bill for each items is : {'apple': 55.0, 'sugar': 21.5, 'rice': 45.0, 'milk': 75.0, 'egg': 60.0}
The total bill : 256.5

## Questions on List

## Data:
ai_companies = \["Amazon", "Facebook", "HiSilicon", "Google", "Apple", "Microsoft", "SenseTime"\]

### 1) Sort the list in ascending order

In [18]:
ai_companies = ["Amazon", "Facebook", "HiSilicon", "Google", "Apple", "Microsoft", "SenseTime"]
# <list>.sort(key = len/int, reverse = True)
ai_companies.sort()
print(ai_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'HiSilicon', 'Microsoft', 'SenseTime']

### 2) Add multiple companies at once 'Nvidia', 'OpenAI' , 'Qualcomm' and 'Reliance' to the list

In [19]:
ai_companies.extend(['Nvidia', 'OpenAI' , 'Qualcomm', 'Reliance'])
print(ai_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'HiSilicon', 'Microsoft', 'SenseTime', 'Nvidia', 'OpenAI', 'Qualcomm', 'Reliance']

### 3) Lower the list using List comprehension

In [20]:
print([company.lower() for company in ai_companies])

['amazon', 'apple', 'facebook', 'google', 'hisilicon', 'microsoft', 'sensetime', 'nvidia', 'openai', 'qualcomm', 'reliance']

### 4) Elimiate 'Reliance' from the list

In [21]:
ai_companies.remove('Reliance')
print(ai_companies)

['Amazon', 'Apple', 'Facebook', 'Google', 'HiSilicon', 'Microsoft', 'SenseTime', 'Nvidia', 'OpenAI', 'Qualcomm']

### 5) Extract 'Facebook', 'Google' and 'Microsoft' using a single command

In [22]:
ai_companies = ["Amazon", "Facebook", "HiSilicon", "Google", "Apple", "Microsoft", "SenseTime"]
print(ai_companies[1::2])

['Facebook', 'Google', 'Microsoft']

## Questions on Tuple

### 1) Consider the above standard price problem statement and place the prices in the form of the tuple.

In [23]:
commodity_price_tup = (("apple", 220), ("sugar", 43), ("rice", 45), ("milk", 30), ("egg", 60))
print(commodity_price_tup)

(('apple', 220), ('sugar', 43), ('rice', 45), ('milk', 30), ('egg', 60))

### 2) Find out the min and max price among them.

In [24]:
print(f"The item with maximum price is {max(commodity_price_tup, key=lambda item:item[1])}")
print(f"The item with minimum price is {min(commodity_price_tup, key=lambda item:item[1])}")

The item with maximum price is ('apple', 220)
The item with minimum price is ('milk', 30)

### 3) Also, convert the above "AI_companies" list to a tuple.

In [25]:
ai_companies = ["Amazon", "Facebook", "HiSilicon", "Google", "Apple", "Microsoft", "SenseTime"]
ai_companies_tup = tuple(ai_companies)
print(ai_companies_tup)

('Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'SenseTime')

### 4) Combine two above tuples to a single tuple.

In [26]:
combined_tuple = commodity_price_tup + ai_companies_tup
print(combined_tuple)

(('apple', 220), ('sugar', 43), ('rice', 45), ('milk', 30), ('egg', 60), 'Amazon', 'Facebook', 'HiSilicon', 'Google', 'Apple', 'Microsoft', 'SenseTime')

### 5) Compare the length of two tuples.

In [27]:
print(f"The length of commodity price tuple is : {len(commodity_price_tup)}")
print(f"The length of AI companies is : {len(ai_companies_tup)}")

The length of commodity price tuple is : 5
The length of AI companies is : 7